@charset "UTF-8";
/* responsive ------------------------------------------*/
@media screen and (max-width: 750px) {
  div,
  p,
  li,
  dd,
  dt,
  table {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  * {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/* common ------------------------------------------*/
/* --------------------------------------------------
    Header
-------------------------------------------------- */
@media screen and (min-width: 751px) {
  .header {
    position: relative;
    z-index: 1000;
    background: #001533;
  }
  .header-inner {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-logo {
    width: 226px;
    margin-right: 70px;
  }
  .header-logo img {
    width: 100%;
  }
  .header .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    margin-right: 7px;
    border-color: transparent transparent transparent #003772;
  }
  .header .arrow--white {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    margin-right: 7px;
    border-color: transparent transparent transparent #ffffff;
  }
  .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .global-nav > ul {
    width: 744px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .global-nav > ul > li {
    height: 100%;
  }
  .global-nav > ul > li > a {
    position: relative;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 0 1em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .global-nav > ul > li > a::after {
    position: absolute;
    content: "|";
    display: block;
    right: -1.5em;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .global-nav > ul > li > a:hover::before, .global-nav > ul > li > a.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: calc(100% + 2em);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 5px;
    background: #e60012;
  }
  .global-nav > ul > li:nth-last-child(2) a::after {
    display: none;
  }
  .global-nav > ul .sub-menu {
    display: none;
    position: absolute;
    background: #003772;
    left: 0;
    right: 0;
    padding: 30px 0;
    height: 140px;
    z-index: 1001;
  }
  .global-nav > ul .sub-menu-inner {
    width: 1200px;
    margin: 0 auto;
  }
  .global-nav > ul .sub-menu .growth-top {
    width: 220px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ffffff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #000000;
    text-decoration: none;
    margin-bottom: 18px;
  }
  .global-nav > ul .sub-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .global-nav > ul .sub-menu ul li {
    width: 33%;
    margin-bottom: 1.5em;
  }
  .global-nav > ul .sub-menu ul li a {
    color: #fff;
    text-decoration: none;
  }
  .global-nav > ul .sub-menu ul li:nth-child(n + 4) {
    margin-bottom: 0;
  }
  .entry-button-wrapper {
    height: 100%;
  }
  .entry-button {
    width: 140px;
    background: #e60012;
    height: 100%;
    border: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .entry-button:focus {
    outline: none;
  }
  .entry-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10000;
  }
  .entry-modal-close {
    position: absolute;
    left: 50%;
    cursor: pointer;
    top: 140px;
    -webkit-transform: translateX(555px);
            transform: translateX(555px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
  }
  .entry-modal-close:focus {
    outline: none;
  }
  .entry-modal-close::before, .entry-modal-close::after {
    content: "";
    top: 15px;
    height: 35px;
    border-left: 3px solid #000;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .entry-modal-close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .entry-modal .modal-buttons {
    width: 794px;
    margin: 0 auto 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 240px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .entry-modal .entry-link,
  .entry-modal .login-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 384px;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
  }
  .entry-modal .entry-link::after,
  .entry-modal .login-link::after {
    content: "";
    position: absolute;
    top: 42px;
    right: 15px;
    display: block;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .entry-modal .entry-link {
    background: #fff;
    color: #333;
  }
  .entry-modal .entry-link-label {
    font-size: 2.2rem;
    font-weight: bold;
    color: #e60012;
  }
  .entry-modal .entry-link::after {
    border-top: solid 2px #e60012;
    border-right: solid 2px #e60012;
  }
  .entry-modal .login-link {
    background: #e60012;
    color: #fff;
  }
  .entry-modal .login-link-label {
    font-size: 2.2rem;
    font-weight: bold;
  }
  .entry-modal .login-link::after {
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
  }
  .entry-modal-text {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.625;
  }
  .entry-modal-text {
    font-size: 1.6rem;
    color: #fff;
  }
  .sp-close-button {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .header {
    background: #001533;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }
  .header-logo {
    width: 91.46667vw;
    margin: 0 auto;
    padding: 4.13333vw 0 4.4vw;
  }
  .header .arrow--white {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    margin-right: 7px;
    border-color: transparent transparent transparent #ffffff;
  }
  .menu-wrapper {
    position: fixed;
    top: 16vw;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    opacity: 0;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.6);
  }
  .menu-wrapper.is-open {
    opacity: 1;
    visibility: visible;
  }
  .global-nav {
    background: #003772;
  }
  .global-nav > ul > li {
    border-bottom: 1px solid #fff;
  }
  .global-nav > ul > li > a {
    display: block;
    padding: 4vw 0 4vw 2.66667vw;
    text-decoration: none;
    font-size: 4.26667vw;
    color: #fff;
    position: relative;
  }
  .global-nav > ul > li > a::after {
    position: absolute;
    right: 5.33333vw;
    top: 50%;
    content: "";
    display: block;
    width: 2.93333vw;
    height: 2.93333vw;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translateY(-60%);
  }
  .global-nav > ul > li[data-action="toggle-modal"] > a:before, .global-nav > ul > li[data-action="toggle-modal"] > a:after {
    background: #fff;
    content: "";
    height: 2px;
    position: absolute;
    top: 50%;
    right: 2.93333vw;
    width: 4vw;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    border: none;
  }
  .global-nav > ul > li[data-action="toggle-modal"] > a:after {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .global-nav > ul > li[data-action="toggle-modal"] > a.open:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .global-nav > ul > li[data-action="toggle-modal"] > a.open:before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .global-nav > ul > li.corporate-link {
    background: #444;
  }
  .global-nav > ul > li .sub-menu {
    display: none;
  }
  .global-nav > ul > li ul {
    padding-bottom: 3.33333vw;
  }
  .global-nav > ul > li ul li {
    border-bottom: none;
  }
  .global-nav > ul > li ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 3.33333vw 0 3.33333vw 6.66667vw;
    font-size: 3.73333vw;
  }
  .global-nav > ul .growth-top {
    display: none;
  }
  .entry-button-wrapper {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4vw;
  }
  .sp-close-button {
    cursor: pointer;
    display: block;
    background: #fff;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5px;
    width: 13.33333vw;
    height: 13.33333vw;
    -webkit-box-shadow: 0 0 4px #ccc;
            box-shadow: 0 0 4px #ccc;
    border: none;
  }
  .sp-close-button:focus {
    outline: none;
  }
  .entry-button {
    width: 76vw;
    height: 13.33333vw;
    background: #e60012;
    color: #fff;
    font-size: 4.26667vw;
    font-weight: bold;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
  }
  .entry-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 10000;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .entry-modal .entry-modal-content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .entry-modal-close {
    position: absolute;
    cursor: pointer;
    top: 5.86667vw;
    right: 7.6vw;
    width: 6.13333vw;
    height: 6.13333vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
  }
  .entry-modal-close:focus {
    outline: none;
  }
  .entry-modal-close::before, .entry-modal-close::after {
    -webkit-transform-origin: center;
            transform-origin: center;
    content: "";
    height: 35px;
    border-left: 3px solid #fff;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .entry-modal-close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .entry-modal .modal-buttons {
    width: 60vw;
    margin: 0 auto 28px;
  }
  .entry-modal .entry-link,
  .entry-modal .login-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60vw;
    height: 16vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 3.73333vw;
    text-decoration: none;
    position: relative;
    margin-bottom: 4vw;
  }
  .entry-modal .entry-link::after,
  .entry-modal .login-link::after {
    content: "";
    position: absolute;
    top: 6.4vw;
    right: 15px;
    display: block;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .entry-modal .entry-link {
    background: #fff;
    color: #333;
  }
  .entry-modal .entry-link-label {
    font-size: 4.8vw;
    font-weight: bold;
    color: #e60012;
  }
  .entry-modal .entry-link::after {
    border-top: solid 2px #e60012;
    border-right: solid 2px #e60012;
  }
  .entry-modal .login-link {
    background: #e60012;
    color: #fff;
  }
  .entry-modal .login-link-label {
    font-size: 4.8vw;
    font-weight: bold;
  }
  .entry-modal .login-link::after {
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
  }
  .entry-modal-text {
    font-size: 3.73333vw;
    line-height: 1.625;
    padding: 0 4vw;
    color: #fff;
  }
}

.sp-menu-button {
  display: none;
}

@media screen and (max-width: 750px) {
  .sp-menu-button {
    position: fixed;
    bottom: 4vw;
    left: 4vw;
    cursor: pointer;
    display: block;
    background: #fff;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 13.33333vw;
    height: 13.33333vw;
    -webkit-box-shadow: 0 0 4px #ccc;
            box-shadow: 0 0 4px #ccc;
    padding-top: 5px;
    border: none;
    z-index: 1000;
  }
  .sp-menu-button:focus {
    outline: none;
  }
  .sp-menu-label {
    margin-top: 1.33333vw;
    font-size: 2.93333vw;
  }
}

.footer {
  margin-top: auto;
  height: 60px;
  background: #001533;
}

.footer-inner {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding: 20px 0;
}

.footer-link a {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}

.footer .copyright {
  font-size: 1.2rem;
}

@media screen and (max-width: 750px) {
  .footer {
    padding: 2vw 0;
    height: 10.66667vw;
  }
  .footer-inner {
    padding: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-link {
    display: none;
  }
  .footer .copyright {
    font-size: 2.66667vw;
    text-align: center;
  }
}

/* contents */
#contents {
  font-size: 1.6rem;
  min-height: calc(100vh - 100px - 60px);
}

#contents .center {
  text-align: center;
}

@media screen and (max-width: 750px) {
  #contents {
    padding-top: 16vw;
    width: 100%;
  }
}

/* main */
#main {
  max-width: 1200px;
  padding: 70px 0 70px 70px;
  margin: 0 auto;
  text-align: justify;
  text-justify: inter-ideograph;
  /* IE */
  overflow: hidden;
  zoom: 1;
}

#main h1 {
  margin: 0 0 2.2em;
  padding: 0 0 0.5em;
  border-bottom: solid 1px #ccc;
  font-size: 150%;
  font-weight: bold;
}

#main h1 span {
  padding: 0 0 0 2em;
  color: #666;
  font-size: 70%;
}

#main h2 {
  margin-bottom: 0.5em;
  color: #004fa3;
  font-size: 110%;
  line-height: 1.8;
}

#main p {
  margin-bottom: 1em;
  font-size: 85%;
  line-height: 1.8;
}

#message #main .text p {
  margin-bottom: 1.8em;
  font-size: 85%;
  line-height: 1.8;
}

#message #main p.leadcopy {
  margin-bottom: 0;
  color: #004fa3;
  font-size: 145% !important;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

@media screen and (max-width: 750px) {
  #main {
    float: none;
    width: 100%;
    padding: 2em 1em 1em;
  }
  #main h1 {
    margin: 0 0 1.5em;
  }
  #main h1 span {
    padding: 0;
    display: block;
    font-size: 60%;
  }
}

/* pages ------------------------------------------*/
/* message */
div.message div.text {
  float: left;
  width: 900px;
}

div.message div.pic {
  float: right;
  width: 290px;
  text-align: right;
}

div.message div.pic p.title {
  display: block;
  margin: 1em 0 0;
  line-height: 1.4;
}

div.message div.pic p.name {
  display: block;
  font-size: 140% !important;
}

@media screen and (max-width: 750px) {
  div.message div {
    float: none !important;
    width: 100% !important;
  }
  div.message div.pic {
    text-align: center;
  }
  div.message div.pic img {
    display: inline;
    width: 80%;
  }
  div.message div.pic p.title {
    margin: 0 !important;
  }
}

/* company_index */
.company_index ul {
  margin: 0 0 0 -30px;
  overflow: hidden;
  zoom: 1;
}

.company_index li {
  float: left;
  margin: 0 0 30px 30px;
}

@media screen and (max-width: 750px) {
  .company_index ul {
    margin: 0;
  }
  .company_index li {
    float: none;
    margin: 0 0 1em;
  }
}

/* company_synergy */
p.company_synergy_pic {
  text-align: center;
  margin: 2em 0 2.5em !important;
}

/* company_outline */
.company_outline {
  overflow: hidden;
  zoom: 1;
}

.company_outline div.box {
  margin: 0 0 2em;
  padding: 45px 22px 2px;
  border: 3px solid #ccc;
}

#main div.box p.boxcopy {
  margin: 0 0 35px;
  color: #aa0b06 !important;
  font-size: 130% !important;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  line-height: 1.5 !important;
  text-align: center;
  letter-spacing: -0.05em;
}

.company_outline div.box ol {
  max-width: 670px;
  margin: 0 auto;
  list-style: none;
  overflow: hidden;
  zoom: 1;
}

.company_outline div.box ol li {
  float: left;
  width: 325px;
  margin: 0 0 20px;
}

.company_outline div.box ol li.c1,
.company_outline div.box ol li.c3 {
  margin-right: 20px;
}

.company_outline div.box dt {
  padding: 8px 0 6px;
  color: #fff;
  font-size: 95%;
  font-weight: bold;
  background: #004fa3;
  text-align: center;
}

.company_outline div.box dd {
  padding: 12px 12px 10px;
  font-size: 85%;
  background: #efefef;
  line-height: 1.5;
}

.company_outline hr {
  clear: both;
  height: 0;
  margin: 2em 0 2em;
  padding: 0;
  border: 0;
  border-top: 1px dashed #bbb;
}

.company_outline div.box_left,
.company_outline div.box_right {
  width: 48.33333%;
  margin: 0 0 20px;
  overflow: hidden;
  zoom: 1;
}

.company_outline div.box_left p:first-of-type,
.company_outline div.box_right p:first-of-type {
  text-align: center;
}

.company_outline div.box_left {
  float: left;
}

.company_outline div.box_right {
  float: right;
}

.company_outline div.box_left p,
.company_outline div.box_right p {
  padding-bottom: 10px;
}

.company_outline div.box_full {
  clear: both;
  position: relative;
  top: -15px;
  margin: 0 0 -40px;
}

.company_outline .chart_box {
  border: 1px solid #c8c8c8;
  padding: 22px 2%;
  text-align: center;
}

.company_outline .chart_box img {
  max-width: 100%;
}

@media screen and (max-width: 750px) {
  .company_outline hr {
    display: none;
  }
  .company_outline div.box p.boxcopy {
    text-align: left;
    font-size: 120% !important;
  }
  .company_outline div.box p.boxcopy br {
    display: none;
  }
  .company_outline div.box ol li {
    float: none;
    width: auto;
  }
  .company_outline div.box ol li.c1,
  .company_outline div.box ol li.c3 {
    margin-right: 0;
  }
  .company_outline div.box_left,
  .company_outline div.box_right {
    float: none;
    width: auto;
  }
  .company_outline div.box_left p,
  .company_outline div.box_right p {
    padding-bottom: 0;
  }
  .company_outline div.box_full {
    clear: both;
    position: static;
    margin: 0;
  }
  .company_outline .chart_box {
    border: none;
    padding: 0;
    text-align: center;
  }
}

/* company_gallery */
.company_gallery p.photo {
  position: relative;
  width: 720px;
  height: 400px;
  margin: 0 auto 2em !important;
  background: #efefef;
}

.company_gallery p.photo img {
  display: block;
  position: absolute;
  left: 75px;
  top: 60px;
  border: solid 1px #ccc;
}

.company_gallery ul {
  overflow: hidden;
  zoom: 1;
  width: 640px;
  margin: 0 auto;
}

.company_gallery li {
  margin: 0 0 24px 24px;
  float: left;
}

.company_gallery li img {
  display: block;
  border: solid 1px #ccc;
}

@media screen and (max-width: 750px) {
  .company_gallery p.photo {
    position: static;
    width: 100%;
    height: auto;
  }
  .company_gallery p.photo img {
    position: static;
    border: solid 1px #ccc;
  }
  .company_gallery ul {
    margin-left: 0 !important;
    width: auto;
  }
  .company_gallery li {
    width: 32%;
    margin: 0;
    float: left;
  }
  .company_gallery li:nth-child(3n + 2) {
    margin: 0 2%;
  }
  .company_gallery li img {
    margin-bottom: 5%;
  }
}

/* company_movie */
#video-box {
  max-width: 720px;
  height: 403px;
  margin: 0 auto 20px;
  overflow: hidden;
}

#video-box + p {
  max-width: 720px;
  margin: 0 auto;
}

html > body #video-box {
  height/*\**/: 402px\9;
  width/*\**/: 719px\9;
}

@media screen and (max-width: 750px) {
  #video-box {
    height: auto;
  }
}

/* professionals_index */
.professionals_index ul {
  overflow: hidden;
  zoom: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.professionals_index li {
  margin-bottom: 30px;
}

@media screen and (max-width: 750px) {
  .professionals_index ul {
    margin: 0;
  }
  .professionals_index li {
    float: none;
    margin: 0 0 1em;
  }
  .professionals_index li:last-child {
    padding-left: 0px;
  }
}

/* Chance to Growth_menber */
h1#professionals_visual {
  position: absolute;
  top: 100px;
  left: 0;
  height: 370px;
  z-index: 1;
  padding-bottom: 0;
  border: none;
  background-position: 210px 0;
  background-repeat: no-repeat;
}

html > body h1#professionals_visual {
  width: 100%;
}

h1#professionals_visual img {
  position: relative;
  top: 0;
  left: 210px;
}

div#sp_h1 {
  display: none;
}

#main .mv_01 {
  background-color: #e3e8e8;
  background-image: url("../../growth/img/member01_main.jpg");
}

#main .mv_03 {
  background-color: #59798e;
  background-image: url("../../growth/img/member03_main.jpg");
}

#main .mv_04 {
  background-color: #caaa93;
  background-image: url("../../growth/img/member04_main.jpg");
}

#main .mv_05 {
  background-color: #eaeceb;
  background-image: url("../../growth/img/member05_main.jpg");
}

#main .mv_06 {
  background-color: #e6ecf7;
  background-image: url("../../growth/img/member06_main.jpg");
}

#main .mv_07 {
  background-color: #d0d5d9;
  background-image: url("../../growth/img/member07_main.jpg");
}

div.professionals {
  overflow: hidden;
  zoom: 1;
}

div.professionals h2 {
  clear: both;
  margin-top: 2em;
  color: #333 !important;
  font-size: 140% !important;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  line-height: 1.5 !important;
}

div.professionals h2.first {
  margin-top: 360px;
}

div.professionals p.pic_right {
  float: right;
  margin: 0 0 0 40px;
}

div.professionals h2.interview {
  margin-bottom: 0 !important;
  padding: 7px 0 5px 20px;
  background: #004fa3;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  color: #fff !important;
  font-size: 100% !important;
  font-weight: normal;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

div.professionals div.box {
  padding: 20px;
  background: #f1f4fc;
  border: solid 1px #d8def5;
  border-top: none;
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  overflow: hidden;
  zoom: 1;
}

div.professionals div.box p {
  float: left;
  margin: 0 20px 0 0 !important;
}

div.professionals div.box dl.interview_profile dt {
  color: #004fa3;
  font-size: 110%;
  font-weight: bold;
}

div.professionals div.box dl.interview_profile dd {
  font-size: 85%;
  line-height: 1.5;
}

div.professionals div.box dl.interview_profile dd.department {
  margin: 0.5em 0 0.7em;
}

div.professionals div.box dl.interview_qa {
  float: left;
  width: 540px;
  margin: 5px 0 0;
  padding: 5px 0 0;
  border-top: dotted 1px #999;
  font-size: 85%;
  line-height: 1.6;
}

div.professionals div.box dl.interview_qa dt {
  margin: 20px 0 7px;
  padding: 0 0 0 15px;
  background: url("../../growth/img/interview_qa_bullet.png") no-repeat 0 1px;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  h1#professionals_visual {
    display: none;
  }
  div#sp_h1 {
    display: block;
  }
  div.professionals h2 {
    margin-top: 1.5em;
  }
  div.professionals h2.first {
    margin-top: 1em;
  }
  div.professionals div.box {
    margin: 2em 0 0;
  }
  div.professionals div.box p {
    float: none;
  }
  div.professionals div.box p img {
    width: 35%;
    margin: 0 auto 1em !important;
  }
  div.professionals div.box {
    margin-top: 0 !important;
    margin-bottom: 2em;
    padding: 10px;
  }
  div.professionals div.box dl.interview_profile dt {
    text-align: center;
  }
  div.professionals div.box dl.interview_profile dd.department {
    text-align: center;
  }
  div.professionals div.box dl.interview_qa {
    float: none;
    width: 100%;
  }
}

/* career */
div.career h2 {
  margin: 1.8em 0 0;
}

div.career p.chart1 {
  margin-top: 1.8em;
}

div.career p.chart2 {
  margin-top: 3em;
}

div.career table {
  margin: -0.2em 0 1em;
}

div.career table th,
div.career table td {
  padding: 6px 10px 3px;
  border: solid 1px #004fa3;
  line-height: 1.6;
  text-align: left;
  vertical-align: top;
}

div.career table th {
  background: #004fa3;
  color: #fff;
  font-size: 85%;
  font-weight: bold;
}

div.career table td {
  font-size: 80%;
}

div.career div.box {
  margin-bottom: 2em;
  padding: 20px 25px 16px;
  overflow: hidden;
  zoom: 1;
  background: #f1f4fc;
}

div.career div.box p.pic {
  float: left;
  padding-right: 20px;
}

div.career div.box p.text {
  margin-bottom: 0 !important;
  overflow: hidden;
  zoom: 1;
}

@media screen and (max-width: 750px) {
  div.career div.box {
    padding: 12px 12px 10px;
  }
  div.career div.box p.pic {
    display: block;
    float: none;
    width: 30%;
    margin: 0 auto 1em;
    padding-right: 0;
  }
  div.career div.box p.text {
    overflow: visible;
  }
}

/* recruit */
div.recruit table {
  width: 100%;
  margin-bottom: 50px;
}

div.recruit table th,
div.recruit table td {
  padding: 10px 10px 8px;
  border: solid 1px #ccc;
  font-size: 80%;
  line-height: 1.6;
  text-align: left;
  vertical-align: top;
}

div.recruit table th {
  width: 8em;
  background: #f1f4fc;
  font-weight: bold;
}

div.recruit #entry_box {
  background: #efefef;
  padding: 20px 25px 16px;
  overflow: hidden;
  zoom: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.recruit #entry_box dl {
  float: left;
}

div.recruit #entry_box ul {
  float: right;
  border-left: solid 2px #fff;
  overflow: hidden;
  zoom: 1;
}

div.recruit #entry_box dt {
  color: #004fa3;
  font-size: 110%;
  font-weight: bold;
  line-height: 1.4;
}

div.recruit #entry_box dd {
  font-size: 85%;
  line-height: 1.8;
}

div.recruit #entry_box li {
  float: left;
  margin: 0 0 0 25px;
}

@media screen and (max-width: 750px) {
  div.recruit table {
    margin-bottom: 2em;
  }
  div.recruit table th,
  div.recruit table td {
    padding: 4px 4px 3px;
  }
  div.recruit table th {
    width: auto;
    white-space: nowrap;
  }
  div.recruit #entry_box {
    background: #efefef;
    margin-bottom: 1em;
    padding: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.recruit #entry_box dl {
    float: none;
    margin-bottom: 1em;
  }
  div.recruit #entry_box ul {
    float: none;
    width: 100%;
    border-left: none;
  }
  div.recruit #entry_box li {
    float: none;
    margin: 0;
  }
  div.recruit #entry_box li.c1 {
    margin-bottom: 0.7em;
    padding-bottom: 0.7em;
    border-bottom: dotted 1px #b7b7b7;
  }
  div.recruit #entry_box li.c1 img {
    width: 160px;
    margin: 0 auto;
  }
  div.recruit #entry_box li.c2 img {
    width: 140px;
    margin: 0 auto;
  }
}

/* entry */
div.entry .box {
  background: #f1f4fc;
  border: solid 1px #ccc;
  padding: 26px 0 22px;
}

div.entry .box ul {
  width: 380px;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
}

div.entry .box li {
  float: left;
  margin: 0 15px;
}

@media screen and (max-width: 750px) {
  div.entry .box {
    margin-bottom: 2em;
    padding: 5px 0 3px;
  }
  div.entry .box ul {
    width: 50%;
    margin: 0 auto;
  }
  div.entry .box li {
    float: none;
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
  div.entry .box li img {
    display: inline !important;
  }
}
/*# sourceMappingURL=content.css.map */