@charset "utf-8";

/* responsive ------------------------------------------*/

@media screen and (max-width: 750px) {
    div,
    p,
    li,
    dd,
    dt,
    table {
        width: 100%;
    }
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
}

/* common ------------------------------------------*/
@import "modules/header";
@import "modules/footer";

/* contents */

#contents {
    font-size: 1.6rem;
    min-height: calc(100vh - 100px - 60px);
    //max-width: 1200px;
    .center {
        text-align: center;
    }
}
@media screen and (max-width: 750px) {
    #contents {
        padding-top: 120/750 * 100vw;
        width: 100%;
    }
}

/* main */

#main {
    max-width: 1200px;
    padding: 70px 0 70px 70px;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-ideograph; /* IE */
    overflow: hidden;
    zoom: 1;
}
#main h1 {
    margin: 0 0 2.2em;
    padding: 0 0 0.5em;
    border-bottom: solid 1px #ccc;
    font-size: 150%;
    font-weight: bold;
}
#main h1 span {
    padding: 0 0 0 2em;
    color: #666;
    font-size: 70%;
}
#main h2 {
    margin-bottom: 0.5em;
    color: #004fa3;
    font-size: 110%;
    line-height: 1.8;
}
#main p {
    margin-bottom: 1em;
    font-size: 85%;
    line-height: 1.8;
}
#message #main .text p {
    margin-bottom: 1.8em;
    font-size: 85%;
    line-height: 1.8;
}
#message #main p.leadcopy {
    margin-bottom: 0;
    color: #004fa3;
    font-size: 145% !important;
    font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝",
        "MS PMincho", serif;
}

@media screen and (max-width: 750px) {
    #main {
        float: none;
        width: 100%;
        padding: 2em 1em 1em;
    }
    #main h1 {
        margin: 0 0 1.5em;
    }
    #main h1 span {
        padding: 0;
        display: block;
        font-size: 60%;
    }
}

/* pages ------------------------------------------*/

/* message */

div.message div.text {
    float: left;
    width: 900px;
}
div.message div.pic {
    float: right;
    width: 290px;
    text-align: right;
}
div.message div.pic p.title {
    display: block;
    margin: 1em 0 0;
    line-height: 1.4;
}
div.message div.pic p.name {
    display: block;
    font-size: 140% !important;
}

@media screen and (max-width: 750px) {
    div.message div {
        float: none !important;
        width: 100% !important;
    }
    div.message div.pic {
        text-align: center;
    }
    div.message div.pic img {
        display: inline;
        width: 80%;
    }
    div.message div.pic p.title {
        margin: 0 !important;
    }
}

/* company_index */

.company_index ul {
    margin: 0 0 0 -30px;
    overflow: hidden;
    zoom: 1;
}
.company_index li {
    float: left;
    margin: 0 0 30px 30px;
}
@media screen and (max-width: 750px) {
    .company_index ul {
        margin: 0;
    }
    .company_index li {
        float: none;
        margin: 0 0 1em;
    }
}

/* company_synergy */

p.company_synergy_pic {
    text-align: center;
    margin: 2em 0 2.5em !important;
}

/* company_outline */

.company_outline {
    overflow: hidden;
    zoom: 1;
}
.company_outline div.box {
    margin: 0 0 2em;
    padding: 45px 22px 2px;
    border: 3px solid #ccc;
}
#main div.box p.boxcopy {
    margin: 0 0 35px;
    color: #aa0b06 !important;
    font-size: 130% !important;
    font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝",
        "MS PMincho", serif;
    line-height: 1.5 !important;
    text-align: center;
    letter-spacing: -0.05em;
}
.company_outline div.box ol {
    max-width: 325 * 2 + 20px;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
    zoom: 1;
}
.company_outline div.box ol li {
    float: left;
    width: 325px;
    margin: 0 0 20px;
}
.company_outline div.box ol li.c1,
.company_outline div.box ol li.c3 {
    margin-right: 20px;
}

.company_outline div.box dt {
    padding: 8px 0 6px;
    color: #fff;
    font-size: 95%;
    font-weight: bold;
    background: #004fa3;
    text-align: center;
}
.company_outline div.box dd {
    padding: 12px 12px 10px;
    font-size: 85%;
    background: #efefef;
    line-height: 1.5;
}

.company_outline hr {
    clear: both;
    height: 0;
    margin: 2em 0 2em;
    padding: 0;
    border: 0;
    border-top: 1px dashed #bbb;
}

.company_outline div.box_left,
.company_outline div.box_right {
    width: percentage(580/1200);
    margin: 0 0 20px;
    overflow: hidden;
    zoom: 1;
    p:first-of-type {
        text-align: center;
    }
}
.company_outline div.box_left {
    float: left;
}
.company_outline div.box_right {
    float: right;
}
.company_outline div.box_left p,
.company_outline div.box_right p {
    padding-bottom: 10px;
}
.company_outline div.box_full {
    clear: both;
    position: relative;
    top: -15px;
    margin: 0 0 -40px;
}

.company_outline .chart_box {
    border: 1px solid #c8c8c8;
    padding: 22px 2%;
	text-align: center;
	img {
		max-width:100%;
	}
}

@media screen and (max-width: 750px) {
    .company_outline hr {
        display: none;
    }
    .company_outline div.box p.boxcopy {
        text-align: left;
        font-size: 120% !important;
    }
    .company_outline div.box p.boxcopy br {
        display: none;
    }
    .company_outline div.box ol li {
        float: none;
        width: auto;
    }
    .company_outline div.box ol li.c1,
    .company_outline div.box ol li.c3 {
        margin-right: 0;
    }
    .company_outline div.box_left,
    .company_outline div.box_right {
        float: none;
        width: auto;
    }
    .company_outline div.box_left p,
    .company_outline div.box_right p {
        padding-bottom: 0;
    }
    .company_outline div.box_full {
        clear: both;
        position: static;
        margin: 0;
    }
    .company_outline .chart_box {
        border: none;
        padding: 0;
        text-align: center;
    }
}

/* company_gallery */

.company_gallery p.photo {
    position: relative;
    width: 720px;
    height: 400px;
    margin: 0 auto 2em !important;
    background: #efefef;
}
.company_gallery p.photo img {
    display: block;
    position: absolute;
    left: 75px;
    top: 60px;
    border: solid 1px #ccc;
}

.company_gallery ul {
    overflow: hidden;
    zoom: 1;
    width: 640px;
    margin: 0 auto;
}
.company_gallery li {
    margin: 0 0 24px 24px;
    float: left;
}
.company_gallery li img {
    display: block;
    border: solid 1px #ccc;
}

@media screen and (max-width: 750px) {
    .company_gallery p.photo {
        position: static;
        width: 100%;
        height: auto;
    }
    .company_gallery p.photo img {
        position: static;
        border: solid 1px #ccc;
    }
    .company_gallery ul {
        margin-left: 0 !important;
        width: auto;
    }
    .company_gallery li {
        width: 32%;
        margin: 0;
        float: left;
    }
    .company_gallery li:nth-child(3n + 2) {
        margin: 0 2%;
    }
    .company_gallery li img {
        margin-bottom: 5%;
    }
}

/* company_movie */
#video-box {
    max-width: 720px;
    height: 403px;
    margin: 0 auto 20px;
    overflow: hidden;
    + p {
        max-width: 720px;
        margin: 0 auto;
    }
}
html>/**/body #video-box {
    height/*\**/: 402px\9;
    width/*\**/: 719px\9;
}

@media screen and (max-width: 750px) {
    #video-box {
        height: auto;
    }
}

/* professionals_index */

.professionals_index ul {
    overflow: hidden;
    zoom: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.professionals_index li {
    margin-bottom: 30px;
}
@media screen and (max-width: 750px) {
    .professionals_index ul {
        margin: 0;
    }
    .professionals_index li {
        float: none;
        margin: 0 0 1em;
    }
    .professionals_index li:last-child {
        padding-left: 0px;
    }
}

/* Chance to Growth_menber */

h1#professionals_visual {
    position: absolute;
    top: 100px;
    left: 0;
    height: 370px;
    z-index: 1;
    padding-bottom: 0;
    border: none;
    background-position: 210px 0;
    background-repeat: no-repeat;
}
html>/**/body h1#professionals_visual {
    width: 100%;
}
h1#professionals_visual img {
    position: relative;
    top: 0;
    left: 210px;
}
div#sp_h1 {
    display: none;
}
#main .mv_01 {
    background-color: #e3e8e8;
    background-image: url("../../growth/img/member01_main.jpg");
}
//#main .mv_02 {
//    background-color: #dbe8f1;
//    background-image: url("../../growth/img/member02_main.jpg");
//}
#main .mv_03 {
    background-color: #59798e;
    background-image: url("../../growth/img/member03_main.jpg");
}
#main .mv_04 {
    background-color: #caaa93;
    background-image: url("../../growth/img/member04_main.jpg");
}
#main .mv_05 {
    background-color: #eaeceb;
    background-image: url("../../growth/img/member05_main.jpg");
}
#main .mv_06 {
    background-color: #e6ecf7;
    background-image: url("../../growth/img/member06_main.jpg");
}
#main .mv_07 {
    background-color: #d0d5d9;
    background-image: url("../../growth/img/member07_main.jpg");
}
//#main .mv_08 {
//    background-color: #faf8f3;
//    background-image: url("../../growth/img/member08_main.jpg");
//}
div.professionals {
    overflow: hidden;
    zoom: 1;
}
div.professionals h2 {
    clear: both;
    margin-top: 2em;
    color: #333 !important;
    font-size: 140% !important;
    font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝",
        "MS PMincho", serif;
    line-height: 1.5 !important;
}
div.professionals h2.first {
    margin-top: 360px;
}
div.professionals p.pic_right {
    float: right;
    margin: 0 0 0 40px;
}
div.professionals h2.interview {
    margin-bottom: 0 !important;
    padding: 7px 0 5px 20px;
    background: #004fa3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    color: #fff !important;
    font-size: 100% !important;
    font-weight: normal;
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック",
        "MS PGothic", sans-serif;
}
div.professionals div.box {
    padding: 20px;
    background: #f1f4fc;
    border: solid 1px #d8def5;
    border-top: none;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    overflow: hidden;
    zoom: 1;
}
div.professionals div.box p {
    float: left;
    margin: 0 20px 0 0 !important;
}
div.professionals div.box dl.interview_profile {
}
div.professionals div.box dl.interview_profile dt {
    color: #004fa3;
    font-size: 110%;
    font-weight: bold;
}
div.professionals div.box dl.interview_profile dd {
    font-size: 85%;
    line-height: 1.5;
}
div.professionals div.box dl.interview_profile dd.department {
    margin: 0.5em 0 0.7em;
}
div.professionals div.box dl.interview_qa {
    float: left;
    width: 540px;
    margin: 5px 0 0;
    padding: 5px 0 0;
    border-top: dotted 1px #999;
    font-size: 85%;
    line-height: 1.6;
}
div.professionals div.box dl.interview_qa dt {
    margin: 20px 0 7px;
    padding: 0 0 0 15px;
    background: url("../../growth/img/interview_qa_bullet.png") no-repeat 0 1px;
    font-weight: bold;
}
@media screen and (max-width: 750px) {
    h1#professionals_visual {
        display: none;
    }
    div#sp_h1 {
        display: block;
    }
    div.professionals h2 {
        margin-top: 1.5em;
    }
    div.professionals h2.first {
        margin-top: 1em;
    }
    div.professionals div.box {
        margin: 2em 0 0;
    }
    div.professionals div.box p {
        float: none;
    }
    div.professionals div.box p img {
        width: 35%;
        margin: 0 auto 1em !important;
    }
    div.professionals div.box {
        margin-top: 0 !important;
        margin-bottom: 2em;
        padding: 10px;
    }
    div.professionals div.box dl.interview_profile dt {
        text-align: center;
    }
    div.professionals div.box dl.interview_profile dd.department {
        text-align: center;
    }
    div.professionals div.box dl.interview_qa {
        float: none;
        width: 100%;
    }
}

/* career */

div.career h2 {
    margin: 1.8em 0 0;
}
div.career p.chart1 {
    margin-top: 1.8em;
}
div.career p.chart2 {
    margin-top: 3em;
}
div.career table {
    margin: -0.2em 0 1em;
}
div.career table th,
div.career table td {
    padding: 6px 10px 3px;
    border: solid 1px #004fa3;
    line-height: 1.6;
    text-align: left;
    vertical-align: top;
}
div.career table th {
    background: #004fa3;
    color: #fff;
    font-size: 85%;
    font-weight: bold;
}
div.career table td {
    font-size: 80%;
}
div.career div.box {
    margin-bottom: 2em;
    padding: 20px 25px 16px;
    overflow: hidden;
    zoom: 1;
    background: #f1f4fc;
}
div.career div.box p.pic {
    float: left;
    padding-right: 20px;
}
div.career div.box p.text {
    margin-bottom: 0 !important;
    overflow: hidden;
    zoom: 1;
}

@media screen and (max-width: 750px) {
    div.career div.box {
        padding: 12px 12px 10px;
    }
    div.career div.box p.pic {
        display: block;
        float: none;
        width: 30%;
        margin: 0 auto 1em;
        padding-right: 0;
    }
    div.career div.box p.text {
        overflow: visible;
    }
}

/* recruit */

div.recruit table {
    width: 100%;
    margin-bottom: 50px;
}
div.recruit table th,
div.recruit table td {
    padding: 10px 10px 8px;
    border: solid 1px #ccc;
    font-size: 80%;
    line-height: 1.6;
    text-align: left;
    vertical-align: top;
}
div.recruit table th {
    width: 8em;
    background: #f1f4fc;
    font-weight: bold;
}

div.recruit #entry_box {
    background: #efefef;
    padding: 20px 25px 16px;
    overflow: hidden;
    zoom: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.recruit #entry_box dl {
    float: left;
}
div.recruit #entry_box ul {
    float: right;
    border-left: solid 2px #fff;
    overflow: hidden;
    zoom: 1;
}
div.recruit #entry_box dt {
    color: #004fa3;
    font-size: 110%;
    font-weight: bold;
    line-height: 1.4;
}
div.recruit #entry_box dd {
    font-size: 85%;
    line-height: 1.8;
}
div.recruit #entry_box li {
    float: left;
    margin: 0 0 0 25px;
}

@media screen and (max-width: 750px) {
    div.recruit table {
        margin-bottom: 2em;
    }
    div.recruit table th,
    div.recruit table td {
        padding: 4px 4px 3px;
    }
    div.recruit table th {
        width: auto;
        white-space: nowrap;
    }
    div.recruit #entry_box {
        background: #efefef;
        margin-bottom: 1em;
        padding: 1em;
        flex-direction: column;
    }
    div.recruit #entry_box dl {
        float: none;
        margin-bottom: 1em;
    }
    div.recruit #entry_box ul {
        float: none;
        width:100%;
        border-left: none;
    }
    div.recruit #entry_box li {
        float: none;
        margin: 0;
    }
    div.recruit #entry_box li.c1 {
        margin-bottom: 0.7em;
        padding-bottom: 0.7em;
        border-bottom: dotted 1px #b7b7b7;
    }
    div.recruit #entry_box li.c1 img {
        width: 160px;
        margin: 0 auto;
    }
    div.recruit #entry_box li.c2 img {
        width: 140px;
        margin: 0 auto;
    }
}

/* entry */

div.entry .box {
    background: #f1f4fc;
    border: solid 1px #ccc;
    padding: 26px 0 22px;
}
div.entry .box ul {
    width: 380px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}
div.entry .box li {
    float: left;
    margin: 0 15px;
}

@media screen and (max-width: 750px) {
    div.entry .box {
        margin-bottom: 2em;
        padding: 5px 0 3px;
    }
    div.entry .box ul {
        width: 50%;
        margin: 0 auto;
    }
    div.entry .box li {
        float: none;
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
    div.entry .box li img {
        display: inline !important;
    }
}
