@charset "utf-8";

/* リセット */
html, body, div, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, address,
ul, ol, li, dl, dt, dd,
table, th, td,
form, fieldset {
	margin: 0;
	padding: 0;
	color: #333333;
	font-size: 100%;
}
p,li,dt,dl {
	line-height: 1.0;
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}
img {
	border: 0;
}

body {
	font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
}
@media screen and (max-width: 750px) {
body{
	background-color:#FFF;
	-webkit-text-size-adjust: 100%;
}
}


.clear{
	clear: both;
	display: none;
}

.center{
	text-align: center;
}

.ofh {
	overflow: hidden;
	zoom: 1;
}