@charset "UTF-8";
/* リセット */
html, body, div, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, address,
ul, ol, li, dl, dt, dd,
table, th, td,
form, fieldset {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 100%;
}

p, li, dt, dl {
  line-height: 1.0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

img {
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-text-size-adjust: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.fade:hover {
  opacity: 0.7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

@media screen and (max-width: 750px) {
  html,
  body {
    height: 100%;
    overflow: auto;
  }
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0px 0px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 8vw;
  height: 21px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 8vw;
  height: 3px;
  background-color: #000;
  border-radius: 0px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -9px;
}

.hamburger-inner::after {
  bottom: -9px;
}

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.13s;
          transition-duration: 0.13s;
  -webkit-transition-delay: 0.13s;
          transition-delay: 0.13s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -18px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -9px, 0) rotate(-45deg);
          transform: translate3d(0, -9px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* --------------------------------------------------
    Header
-------------------------------------------------- */
@media screen and (min-width: 751px) {
  .header {
    position: relative;
    z-index: 1000;
    background: #001533;
  }
  .header-inner {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-logo {
    width: 226px;
    margin-right: 70px;
  }
  .header-logo img {
    width: 100%;
  }
  .header .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    margin-right: 7px;
    border-color: transparent transparent transparent #003772;
  }
  .header .arrow--white {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    margin-right: 7px;
    border-color: transparent transparent transparent #ffffff;
  }
  .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .global-nav > ul {
    width: 744px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .global-nav > ul > li {
    height: 100%;
  }
  .global-nav > ul > li > a {
    position: relative;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 0 1em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .global-nav > ul > li > a::after {
    position: absolute;
    content: "|";
    display: block;
    right: -1.5em;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .global-nav > ul > li > a:hover::before, .global-nav > ul > li > a.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: calc(100% + 2em);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 5px;
    background: #e60012;
  }
  .global-nav > ul > li:nth-last-child(2) a::after {
    display: none;
  }
  .global-nav > ul .sub-menu {
    display: none;
    position: absolute;
    background: #003772;
    left: 0;
    right: 0;
    padding: 30px 0;
    height: 140px;
    z-index: 1001;
  }
  .global-nav > ul .sub-menu-inner {
    width: 1200px;
    margin: 0 auto;
  }
  .global-nav > ul .sub-menu .growth-top {
    width: 220px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ffffff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #000000;
    text-decoration: none;
    margin-bottom: 18px;
  }
  .global-nav > ul .sub-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .global-nav > ul .sub-menu ul li {
    width: 33%;
    margin-bottom: 1.5em;
  }
  .global-nav > ul .sub-menu ul li a {
    color: #fff;
    text-decoration: none;
  }
  .global-nav > ul .sub-menu ul li:nth-child(n + 4) {
    margin-bottom: 0;
  }
  .entry-button-wrapper {
    height: 100%;
  }
  .entry-button {
    width: 140px;
    background: #e60012;
    height: 100%;
    border: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .entry-button:focus {
    outline: none;
  }
  .entry-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10000;
  }
  .entry-modal-close {
    position: absolute;
    left: 50%;
    cursor: pointer;
    top: 140px;
    -webkit-transform: translateX(555px);
            transform: translateX(555px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
  }
  .entry-modal-close:focus {
    outline: none;
  }
  .entry-modal-close::before, .entry-modal-close::after {
    content: "";
    top: 15px;
    height: 35px;
    border-left: 3px solid #000;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .entry-modal-close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .entry-modal .modal-buttons {
    width: 794px;
    margin: 0 auto 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 240px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .entry-modal .entry-link,
  .entry-modal .login-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 384px;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
  }
  .entry-modal .entry-link::after,
  .entry-modal .login-link::after {
    content: "";
    position: absolute;
    top: 42px;
    right: 15px;
    display: block;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .entry-modal .entry-link {
    background: #fff;
    color: #333;
  }
  .entry-modal .entry-link-label {
    font-size: 2.2rem;
    font-weight: bold;
    color: #e60012;
  }
  .entry-modal .entry-link::after {
    border-top: solid 2px #e60012;
    border-right: solid 2px #e60012;
  }
  .entry-modal .login-link {
    background: #e60012;
    color: #fff;
  }
  .entry-modal .login-link-label {
    font-size: 2.2rem;
    font-weight: bold;
  }
  .entry-modal .login-link::after {
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
  }
  .entry-modal-text {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.625;
  }
  .entry-modal-text {
    font-size: 1.6rem;
    color: #fff;
  }
  .sp-close-button {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .header {
    background: #001533;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }
  .header-logo {
    width: 91.46667vw;
    margin: 0 auto;
    padding: 4.13333vw 0 4.4vw;
  }
  .header .arrow--white {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    margin-right: 7px;
    border-color: transparent transparent transparent #ffffff;
  }
  .menu-wrapper {
    position: fixed;
    top: 16vw;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    opacity: 0;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.6);
  }
  .menu-wrapper.is-open {
    opacity: 1;
    visibility: visible;
  }
  .global-nav {
    background: #003772;
  }
  .global-nav > ul > li {
    border-bottom: 1px solid #fff;
  }
  .global-nav > ul > li > a {
    display: block;
    padding: 4vw 0 4vw 2.66667vw;
    text-decoration: none;
    font-size: 4.26667vw;
    color: #fff;
    position: relative;
  }
  .global-nav > ul > li > a::after {
    position: absolute;
    right: 5.33333vw;
    top: 50%;
    content: "";
    display: block;
    width: 2.93333vw;
    height: 2.93333vw;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translateY(-60%);
  }
  .global-nav > ul > li[data-action="toggle-modal"] > a:before, .global-nav > ul > li[data-action="toggle-modal"] > a:after {
    background: #fff;
    content: "";
    height: 2px;
    position: absolute;
    top: 50%;
    right: 2.93333vw;
    width: 4vw;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    border: none;
  }
  .global-nav > ul > li[data-action="toggle-modal"] > a:after {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .global-nav > ul > li[data-action="toggle-modal"] > a.open:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .global-nav > ul > li[data-action="toggle-modal"] > a.open:before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .global-nav > ul > li.corporate-link {
    background: #444;
  }
  .global-nav > ul > li .sub-menu {
    display: none;
  }
  .global-nav > ul > li ul {
    padding-bottom: 3.33333vw;
  }
  .global-nav > ul > li ul li {
    border-bottom: none;
  }
  .global-nav > ul > li ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 3.33333vw 0 3.33333vw 6.66667vw;
    font-size: 3.73333vw;
  }
  .global-nav > ul .growth-top {
    display: none;
  }
  .entry-button-wrapper {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4vw;
  }
  .sp-close-button {
    cursor: pointer;
    display: block;
    background: #fff;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5px;
    width: 13.33333vw;
    height: 13.33333vw;
    -webkit-box-shadow: 0 0 4px #ccc;
            box-shadow: 0 0 4px #ccc;
    border: none;
  }
  .sp-close-button:focus {
    outline: none;
  }
  .entry-button {
    width: 76vw;
    height: 13.33333vw;
    background: #e60012;
    color: #fff;
    font-size: 4.26667vw;
    font-weight: bold;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
  }
  .entry-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 10000;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .entry-modal .entry-modal-content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .entry-modal-close {
    position: absolute;
    cursor: pointer;
    top: 5.86667vw;
    right: 7.6vw;
    width: 6.13333vw;
    height: 6.13333vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
  }
  .entry-modal-close:focus {
    outline: none;
  }
  .entry-modal-close::before, .entry-modal-close::after {
    -webkit-transform-origin: center;
            transform-origin: center;
    content: "";
    height: 35px;
    border-left: 3px solid #fff;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .entry-modal-close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .entry-modal .modal-buttons {
    width: 60vw;
    margin: 0 auto 28px;
  }
  .entry-modal .entry-link,
  .entry-modal .login-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60vw;
    height: 16vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 3.73333vw;
    text-decoration: none;
    position: relative;
    margin-bottom: 4vw;
  }
  .entry-modal .entry-link::after,
  .entry-modal .login-link::after {
    content: "";
    position: absolute;
    top: 6.4vw;
    right: 15px;
    display: block;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .entry-modal .entry-link {
    background: #fff;
    color: #333;
  }
  .entry-modal .entry-link-label {
    font-size: 4.8vw;
    font-weight: bold;
    color: #e60012;
  }
  .entry-modal .entry-link::after {
    border-top: solid 2px #e60012;
    border-right: solid 2px #e60012;
  }
  .entry-modal .login-link {
    background: #e60012;
    color: #fff;
  }
  .entry-modal .login-link-label {
    font-size: 4.8vw;
    font-weight: bold;
  }
  .entry-modal .login-link::after {
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
  }
  .entry-modal-text {
    font-size: 3.73333vw;
    line-height: 1.625;
    padding: 0 4vw;
    color: #fff;
  }
}

.sp-menu-button {
  display: none;
}

@media screen and (max-width: 750px) {
  .sp-menu-button {
    position: fixed;
    bottom: 4vw;
    left: 4vw;
    cursor: pointer;
    display: block;
    background: #fff;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 13.33333vw;
    height: 13.33333vw;
    -webkit-box-shadow: 0 0 4px #ccc;
            box-shadow: 0 0 4px #ccc;
    padding-top: 5px;
    border: none;
    z-index: 1000;
  }
  .sp-menu-button:focus {
    outline: none;
  }
  .sp-menu-label {
    margin-top: 1.33333vw;
    font-size: 2.93333vw;
  }
}

.footer {
  margin-top: auto;
  height: 60px;
  background: #001533;
}

.footer-inner {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding: 20px 0;
}

.footer-link a {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}

.footer .copyright {
  font-size: 1.2rem;
}

@media screen and (max-width: 750px) {
  .footer {
    padding: 2vw 0;
    height: 10.66667vw;
  }
  .footer-inner {
    padding: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-link {
    display: none;
  }
  .footer .copyright {
    font-size: 2.66667vw;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */