@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
.header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.main {
  height: calc(100vh - 60px);
  background-color: #000;
  max-width: 100%;
  overflow: hidden;
}

.slider .slide-item {
  width: 100%;
  height: calc(100vh - 60px);
}

.slider .slide1 {
  background: url("../../img/slide01_pc.jpg") no-repeat center center;
  background-size: cover;
}

.slider .slide2 {
  background: url("../../img/slide02_pc.jpg") no-repeat center center;
  background-size: cover;
}

.slider .slide3 {
  background: url("../../img/slide03_pc.jpg") no-repeat center center;
  background-size: cover;
}

.slider .slide4 {
  background: url("../../img/slide04_pc.jpg") no-repeat center center;
  background-size: cover;
}

.main-copy {
  min-width: 1200px;
  margin: 0 auto;
  color: #fff;
  position: absolute;
  top: 160px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: right;
  text-shadow: rgba(0, 0, 0, 0.7) 0 0 8px;
}

.main-copy1 {
  font-family: "Roboto", sans-serif;
  display: block;
  font-size: 8rem;
}

.main-copy2 {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  display: block;
  font-size: 2.8rem;
}

.info-area {
  width: 100%;
  position: absolute;
  bottom: 60px;
  height: 36px;
  z-index: 100;
  background: #efefef;
}

.info-area-inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-area-title {
  margin-right: 10px;
}

@media screen and (max-width: 750px) {
  .main {
    margin-top: 0;
    position: relative;
  }
  .main-copy {
    pointer-events: none;
    width: 96vw;
    min-width: auto;
    color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main-copy1 {
    font-size: 9.06667vw;
  }
  .main-copy2 {
    font-size: 4.26667vw;
  }
  .slider {
    height: calc(100% - (80/750 * 100vw));
  }
  .slider .slide1 {
    background: url("../../img/slide01_sp.jpg") no-repeat center center;
    background-size: cover;
  }
  .slider .slide2 {
    background: url("../../img/slide02_sp.jpg") no-repeat center center;
    background-size: cover;
  }
  .slider .slide3 {
    background: url("../../img/slide03_sp.jpg") no-repeat center center;
    background-size: cover;
  }
  .slider .slide4 {
    background: url("../../img/slide04_sp.jpg") no-repeat center center;
    background-size: cover;
  }
  .info-area {
    width: 100%;
    position: absolute;
    height: auto;
    bottom: 0px;
    z-index: 2;
    background: #efefef;
  }
  .info-area-inner {
    height: 100%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.66667vw;
    padding-left: 21.33333vw;
  }
  .info-area-title {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 1.33333vw;
  }
  .info-area p {
    line-height: 1.5;
  }
}
/*# sourceMappingURL=top.css.map */