@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");

.header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.main {
    height: calc(100vh - 60px);
    background-color: #000;
    max-width: 100%;
    overflow: hidden;
}

.slider {
    .slide-item {
        width: 100%;
        height: calc(100vh - 60px);
    }
    .slide1 {
        background: url("../../img/slide01_pc.jpg") no-repeat center center;
        background-size: cover;
    }
    .slide2 {
        background: url("../../img/slide02_pc.jpg") no-repeat center center;
        background-size: cover;
    }
    .slide3 {
        background: url("../../img/slide03_pc.jpg") no-repeat center center;
        background-size: cover;
    }
    .slide4 {
        background: url("../../img/slide04_pc.jpg") no-repeat center center;
        background-size: cover;
    }
}

.main-copy {
    min-width: 1200px;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    text-align: right;
    text-shadow: rgba(0, 0, 0, 0.7) 0 0 8px;
    &1 {
        font-family: "Roboto", sans-serif;
        display: block;
        font-size: 8rem;
    }
    &2 {
        font-family: "游明朝", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho",
            serif;
        display: block;
        font-size: 2.8rem;
    }
}

.info-area {
    width: 100%;
    position: absolute;
    bottom: 60px;
    height: 36px;
    z-index: 100;
    background: #efefef;
    &-inner {
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    &-title {
        margin-right: 10px;
    }
}
@media screen and (max-width: 750px) {
    .main {
        margin-top: 0;
        position: relative;
    }

    .main-copy {
        pointer-events: none;
        width: 720/750 * 100vw;
        min-width: auto;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &1 {
            font-size: 68/750 * 100vw;
        }
        &2 {
            font-size: 32/750 * 100vw;
        }
    }

    .slider {
        height: calc(100% - (80/750 * 100vw));
        .slide1 {
            background: url("../../img/slide01_sp.jpg") no-repeat center center;
            background-size: cover;
        }
        .slide2 {
            background: url("../../img/slide02_sp.jpg") no-repeat center center;
            background-size: cover;
        }
        .slide3 {
            background: url("../../img/slide03_sp.jpg") no-repeat center center;
            background-size: cover;
        }
        .slide4 {
            background: url("../../img/slide04_sp.jpg") no-repeat center center;
            background-size: cover;
        }
    }

    .info-area {
        width: 100%;
        position: absolute;
        height: auto;
        bottom: 0px;
        z-index: 2;
        background: #efefef;
        &-inner {
            height: 100%;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            padding:20/750*100vw;
            padding-left:160/750*100vw;
        }
        &-title {
            margin-right: 0px;
            width:100%;
            margin-bottom:10/750*100vw;
        }
        p {
            line-height: 1.5;
        }
    }
}
