html {
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック",
        "MS PGothic", sans-serif;
    -webkit-text-size-adjust: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.fade {
    &:hover {
        opacity: 0.7;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
}

.pc-only {
    display: block;
}
.sp-only {
    display: none;
}
@media screen and (max-width: 750px) {
    html,
    body {
        height: 100%;
        overflow: auto;
    }
    .pc-only {
        display: none;
    }
    .sp-only {
        display: block;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
