.footer {
    margin-top: auto;
    height: 60px;
    background: #001533;
    &-inner {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        padding: 20px 0;
    }
    &-link {
        a {
            font-size: 1.4rem;
            color: #fff;
            text-decoration: none;
        }
    }
    .copyright {
        font-size: 1.2rem;
    }
    @media screen and (max-width: 750px) {
        padding: 15/750 * 100vw 0;
        height: 80/750 * 100vw;
        &-inner {
            padding:0;
            width: 100%;
            justify-content: center;
        }
        &-link {
            display: none;
        }
        .copyright {
            font-size: 20/750 * 100vw;
            text-align: center;
        }
    }
}
