/* --------------------------------------------------
    Header
-------------------------------------------------- */
@media screen and (min-width: 751px) {
    .header {
        position: relative;
        z-index: 1000;
        background: #001533;
        &-inner {
            width: 1200px;
            height: 100px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-logo {
            width: 226px;
            margin-right: 70px;
            img {
                width: 100%;
            }
        }

        .arrow {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 8px;
            margin-right: 7px;
            border-color: transparent transparent transparent #003772;
        }
        .arrow--white {
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 8px;
            margin-right: 7px;
            border-color: transparent transparent transparent #ffffff;
        }
    }

    .menu-wrapper {
        display: flex;
        height: 100%;
        justify-content: space-between;
    }

    .global-nav {
        > ul {
            width: 744px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            > li {
                height: 100%;
                > a {
                    position: relative;
                    font-size: 1.4rem;
                    color: #fff;
                    text-decoration: none;
                    display: block;
                    margin: 0 1em;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    &::after {
                        position: absolute;
                        content: "|";
                        display: block;
                        right: -1.5em;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &:hover,
                    &.active {
                        &::before {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            display: block;
                            width: calc(100% + 2em);
                            left: 50%;
                            transform: translateX(-50%);
                            height: 5px;
                            background: #e60012;
                        }
                    }
                }
                &:nth-last-child(2) {
                    a {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
            .sub-menu {
                display: none;
                position: absolute;
                background: #003772;
                left: 0;
                right: 0;
                padding: 30px 0;
                height: 140px;
                z-index: 1001;
                &-inner {
                    width: 1200px;
                    margin: 0 auto;
                }

                .growth-top {
                    width: 220px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    background: #ffffff;
                    justify-content: center;
                    color: #000000;
                    text-decoration: none;
                    margin-bottom: 18px;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        width: 33%;
                        margin-bottom: 1.5em;
                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                        &:nth-child(n + 4) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .entry-button-wrapper {
        height: 100%;
    }
    .entry-button {
        width: 140px;
        background: #e60012;
        height: 100%;
        border: 0;
        appearance: none;
        color: #fff;
        font-size: 1.4rem;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }

    //モーダル
    .entry-modal {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        z-index: 10000;

        &-close {
            position: absolute;
            left: 50%;
            cursor: pointer;
            top: 140px;
            transform: translateX(555px);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: none;
            &:focus {
                outline: none;
            }
            &::before,
            &::after {
                content: "";
                top: 15px;
                height: 35px;
                border-left: 3px solid #000;
                position: absolute;
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }

        .modal-buttons {
            width: 794px;
            margin: 0 auto 28px;
            display: flex;
            padding-top: 240px;
            justify-content: space-between;
        }
        .entry-link,
        .login-link {
            display: flex;
            flex-direction: column;
            width: 384px;
            height: 100px;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            text-decoration: none;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 42px;
                right: 15px;
                display: block;
                width: 12px;
                height: 12px;
                transform: rotate(45deg);
            }
        }

        .entry-link {
            background: #fff;
            color: #333;
            &-label {
                font-size: 2.2rem;
                font-weight: bold;
                color: #e60012;
            }
            &::after {
                border-top: solid 2px #e60012;
                border-right: solid 2px #e60012;
            }
        }
        .login-link {
            background: #e60012;
            color: #fff;
            &-label {
                font-size: 2.2rem;
                font-weight: bold;
            }
            &::after {
                border-top: solid 2px #fff;
                border-right: solid 2px #fff;
            }
        }

        &-text {
            text-align: center;
            font-size: 1.6rem;
            line-height: (26/16);
        }

        &-text {
            font-size: 1.6rem;
            color: #fff;
        }
    }

    .sp-close-button {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .header {
        background: #001533;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10000;
        &-logo {
            width: 686/750 * 100vw;
            margin: 0 auto;
            padding: 31/750 * 100vw 0 33/750 * 100vw;
        }
        .arrow--white {
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 8px;
            margin-right: 7px;
            border-color: transparent transparent transparent #ffffff;
        }
    }

    .menu-wrapper {
        position: fixed;
        top: 120/750 * 100vw;
        left: 0;
        bottom:0;
        width: 100%;
        overflow: auto;
        opacity: 0;
        transition: 0.3s linear;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.6);
        &.is-open {
            opacity: 1;
            visibility: visible;
        }
    }
    .global-nav {
        background: #003772;
        > ul {
            > li {
                border-bottom: 1px solid #fff;
                > a {
                    display: block;
                    padding: 30/750 * 100vw 0 30/750 * 100vw 20/750 * 100vw;
                    text-decoration: none;
                    font-size: 32/750 * 100vw;
                    color: #fff;
                    position: relative;
                    &::after {
                        position: absolute;
                        right: 40/750 * 100vw;
                        top: 50%;
                        content: "";
                        display: block;
                        width: 22/750 * 100vw;
                        height: 22/750 * 100vw;
                        border-top: solid 2px #fff;
                        border-right: solid 2px #fff;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg) translateY(-60%);
                    }
                }
                &[data-action="toggle-modal"] {
                    > a {
                        &:before,
                        &:after {
                            background: #fff;
                            content: "";
                            height: 2px;
                            position: absolute;
                            top: 50%;
                            right: 22/750 * 100vw;
                            width: 30/750 * 100vw;
                            transition: transform 500ms ease;
                            border: none;
                        }
                        &:after {
                            transform-origin: center;
                            transform: rotate(90deg);
                        }
                        &.open {
                            &:after {
                                transform: rotate(180deg);
                            }
                            &:before {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
                //コーポレートサイトへのリンク
                &.corporate-link {
                    background: #444;
                }
                .sub-menu {
                    display: none;
                }
                ul {
                    padding-bottom: 25/750 * 100vw;
                    li {
                        border-bottom: none;
                        a {
                            display: block;
                            color: #fff;
                            text-decoration: none;
                            padding: 25/750 * 100vw 0 25/750 * 100vw 50/750 * 100vw;
                            font-size: 28/750 * 100vw;
                        }
                    }
                }
            }
            .growth-top {
                display: none;
            }
        }
    }

    .entry-button-wrapper {
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 30/750 * 100vw;
    }
    .sp-close-button {
        cursor: pointer;
        display: block;
        background: #fff;
        appearance: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        width: 100/750 * 100vw;
        height: 100/750 * 100vw;
        box-shadow: 0 0 4px #ccc;
        border: none;
        //padding: 16/750 * 100vw 24/750 * 100vw 12/750 * 100vw;
        &:focus {
            outline: none;
        }
    }
    .entry-button {
        width: 570/750 * 100vw;
        height: 100/750 * 100vw;
        background: #e60012;
        color: #fff;
        font-size: 32/750 * 100vw;
        font-weight: bold;
        appearance: none;
        border: none;
    }

    //モーダル
    .entry-modal {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        z-index: 10000;
        align-items: center;
        .entry-modal-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &-close {
            position: absolute;
            cursor: pointer;
            top: 44/750 * 100vw;
            right: 57/750 * 100vw;
            width: 46/750 * 100vw;
            height: 46/750 * 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            appearance: none;
            box-shadow: none;
            border: 0;
            &:focus {
                outline: none;
            }
            &::before,
            &::after {
                transform-origin: center;
                content: "";
                height: 35px;
                border-left: 3px solid #fff;
                position: absolute;
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }

        .modal-buttons {
            width: 450/750 * 100vw;
            margin: 0 auto 28px;
        }
        .entry-link,
        .login-link {
            display: flex;
            flex-direction: column;
            width: 450/750 * 100vw;
            height: 120/750 * 100vw;
            align-items: center;
            justify-content: center;
            font-size: 28/750 * 100vw;
            text-decoration: none;
            position: relative;
            margin-bottom: 30/750 * 100vw;
            &::after {
                content: "";
                position: absolute;
                top: 48/750 * 100vw;
                right: 15px;
                display: block;
                width: 12px;
                height: 12px;
                transform: rotate(45deg);
            }
        }

        .entry-link {
            background: #fff;
            color: #333;
            &-label {
                font-size: 36/750 * 100vw;
                font-weight: bold;
                color: #e60012;
            }
            &::after {
                border-top: solid 2px #e60012;
                border-right: solid 2px #e60012;
            }
        }
        .login-link {
            background: #e60012;
            color: #fff;
            &-label {
                font-size: 36/750 * 100vw;
                font-weight: bold;
            }
            &::after {
                border-top: solid 2px #fff;
                border-right: solid 2px #fff;
            }
        }

        &-text {
            font-size: 28/750 * 100vw;
            line-height: (26/16);
            padding: 0 30/750 * 100vw;
            color: #fff;
        }
    }
}

.sp-menu-button {
    display: none;
}

@media screen and (max-width: 750px) {
    .sp-menu-button {
        position: fixed;
        bottom: 30/750 * 100vw;
        left: 30/750 * 100vw;
        cursor: pointer;
        display: block;
        background: #fff;
        appearance: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100/750 * 100vw;
        height: 100/750 * 100vw;
        box-shadow: 0 0 4px #ccc;
        padding-top: 5px;
        border: none;
        z-index:1000;
        &:focus {
            outline: none;
        }
    }
    .sp-menu-label {
        margin-top: 10/750 * 100vw;
        font-size: 22/750 * 100vw;
    }
}
