@charset "utf-8";

/* リセット */
html, body, div, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, address,
ul, ol, li, dl, dt, dd,
table, th, td,
form, fieldset {
	margin: 0;
	padding: 0;
	color: #333333;
	font-size: 100%;
}
p,li,dt,dl {
	line-height: 1.0;
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}
img {
	border: 0;
}